@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
        <p>
        <h1 class="display-4">Welcome</h1>

        </p>
    


    <p>
        <a href="/student/index" class="btn btn-dark">Students</a>
        <a href="/department/index" class="btn btn-dark">Departments</a>
    </p>
</div>

